*{
  box-sizing: border-box;
}
#content{
  margin:40vh auto 0 auto;
}
#content2{
  margin:0 auto;
  span{
    display:block;
  }
}

#content.one{

    width:180px;
    background: #44ffe6;
    h1{
      color:grey;
    }
}
#content2.one{
  width:180px;
  background: #b762ff;
  span{
    text-decoration: line-through;
  }
  b{
    color: #ededf8;
  }
}

#content.two{
  width:300px;
  background:orange;
  h1{
    color:black;
  }
}
#content2.two{
  width:300px;
  background: #17ff27;
  span{
    text-decoration: none ;
  }
  b{
    color: #010708;
  }
}

#content.three{
  width:200px;
  background: #a8d9ff;
  h1{
    color: #186f87;
  }
}
#content2.three{
  width:200px;
  background: #ffb2e4;
  span{
    text-decoration:underline;
  }
  b{
    color: #f45fff;
  }
}
